.index_left { width:665px; border:1px solid #CFCFCF; border-top:none }
.index_right { width:284px; }
.r-block { border:1px solid #CFCFCF; border-top:none }
.r-block .gray_title { padding-right:6px }
.r-block a { color:#535353 }
.i_deal_list .item { border-bottom:1px dashed #E5E5E5; padding:14px 0 }
.i_deal_list .item .tit { height:28px; line-height:28px; font-size:14px }
.i_deal_list .item .tit .cate_tip { background:url(../img/cate_tip.gif) no-repeat 0 0; height:23px; line-height:23px; padding-left:13px; width:75px; font-weight:normal; font-size:12px; color:#FD6000 }
.i_deal_list .item .tit .cate_tip_1 { background:url(../img/cate_tip_1.gif) no-repeat 0 0; color:#FD6000 }
.i_deal_list .item .tit .cate_tip_2 { background:url(../img/cate_tip_2.gif) no-repeat 0 0; color:#000 }
.i_deal_list .item .tit .cate_tip_3 { background:url(../img/cate_tip_3.gif) no-repeat 0 0; color:red }
.i_deal_list .item .tit .cate_tip_4 { background:url(../img/cate_tip_4.gif) no-repeat 0 0; color:#567BB2 }
.i_deal_list .item_1 { background:#FAFCFB }
.i_deal_list .item .detail { width:530px }
.i_deal_list .item .detail .f_red { color:#C20000; font-family:Arial; font-weight:bolder; }
.i_deal_list .item .detail .info { font-size:12px; padding: 3px 0 5px 0; width: 175px; color: #3c3c3c; }
.i_deal_list .item .detail .info2 { width: 205px; }
.i_deal_list .item .detail .info3 { width: 140px; }
.i_deal_list .item .detail .progressBar { width:126px; margin-top:2px }
.notice-list { padding: 5px 12px; }
.notice-list ul { list-style: url(../img/li1.gif) inside; }
.borrow_out, .borrow_in { z-index:10; display:block; width:124px; height:50px; left:13px; top:90px; overflow:hidden; background:#fff; filter:alpha(opacity=0); opacity:0.0 }
.borrow_in { left:145px }
#examIndex { height: 245px; width: 258px; overflow: hidden; }
#examIndex ul li { border-bottom: 1px dotted #DFE6EA; overflow: hidden; color: #1D366B; height: 48px; font: 12px/162% Arial, Tahoma, Helvetica; _font-family: 宋体; }
#examIndex ul li a { color:#414141 }

.ui-header {
position: relative;
z-index: 99999;
-moz-box-shadow: 0 1px 4px rgba(0,0,0,.2);
-webkit-border-shadow: 0 1px 4px rgba(0,0,0,.2);
box-shadow: 0 2px 4px rgba(0,0,0,.2);
}
.ui-header-top {
background: #555;
color: #ccc;
overflow:hidden
}

.clearfix, .container_12 {
zoom: 1;
}
.container_12 {
margin-left: auto;
margin-right: auto;
width: 960px;
}
.container_12 .grid_12 {
width: 940px;
}
.grid_12 {
display: inline;
float: left;
margin-left: 10px;
margin-right: 10px;
}
.fn-left {
float: left;
}
.fn-right {
float: right;
}
.fn-left, .fn-right {
display: inline;
}
.ui-header-top .ui-nav-item {
padding: 0 10px;
height: 35px;
line-height: 35px;
font-size: 15px;
color: #ccc;
}
.icon-app {
width: 10px;
height: 16px;
margin-top: -3px;
background-position: -37px -46px;
}
.icon {
display: inline-block;
width: 18px;
height: 18px;
background: url(/static/img/icon-content.png?v=b87b8) no-repeat;
vertical-align: middle;
}
.mr5 {
margin-right: 5px;
}
.ui-header-top .ui-nav-item.reg-link {
color: #29aadf;
}
.ui-header-top .ui-nav-item {
padding: 0 10px;
height: 35px;
line-height: 35px;
font-size: 15px;
color: #ccc;
}
.ui-header-top .ui-nav-item.login-link {
color: #92c12f;
}
.ui-header-main {
 FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#57c6f9,endColorStr=#28a7e1); /*IE*/   
    background:-moz-linear-gradient(top,#57c6f9,#28a7e1);/*火狐*/   
    background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#57c6f9), to(#28a7e1));/*谷歌*/   
  
      
    background-image: -webkit-gradient(linear,left bottom,left top,color-start(0, #57c6f9),color-stop(1, #28a7e1));/* Safari & Chrome*/  
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#57c6f9', endColorstr='#28a7e1'); /*IE6 & IE7*/  
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#57c6f9', endColorstr='#28a7e1')"; /* IE8 */ 
overflow:hidden
}
.container_12 {
margin-left: auto;
margin-right: auto;
width: 960px;
}
.ui-header-logo-grid {
width: 140px;
height: 72px;
}

.ui-header-logo {
display: block;
height: 72px;
width: 140px;
background:url(../img/logo1.png) no-repeat center;
}
.ui-header-slogan-grid {
width: 193px;
height: 72px;
}
.ml20 {
margin-left: 20px;
}
.ui-header-slogan {
display: block;
height: 72px;
width: 193px;
background: url(../img/slogan.png?v=34f85) no-repeat 0 center;
}
.ui-header-grid {
height: 72px;
}
.ui-header .ui-header-main .no-nav-text {
line-height: 40px;
height: 40px;
font-size: 25px;
margin-top: 17px;
color: #aaa;
}
.ui-nav{overflow:hidden} 
.ui-header-main .ui-nav-item-x {
position: relative;
z-index: 9999;
}
.ui-header-main .ui-nav-item {
float: left;
font-size: 18px;
}
.ui-header-main .ui-nav-item-x .ui-nav-item-link {
padding-right: 30px;
}
a.rrd-dimgray, a.rrd-dimgray:link {
color: #fff;
}
.ui-header-main .ui-nav-item-link {
display: block;
padding: 0 20px;
height: 72px;
line-height: 72px;
}

.ui-header-main .ui-nav-dropdown {
position: absolute;
top: 55px;
left: 0;
z-index: 9999;
padding: 5px 0;

border: 1px solid #e0e0e0;
-webkit-box-shadow: 0 0 3px -1px #ccc;
-moz-box-shadow: 0 0 3px -1px #ccc;
box-shadow: 0 0 3px -1px #ccc;
}
.ui-header-main .ui-nav-dropdown .ui-nav-dropdown-angle {
position: absolute;
top: -5px;
left: 46px;
}
.ui-header-main .ui-nav-item {

font-size: 18px;
}

 