#c_header{width:100%;}
body{background:none;}
.clear{clear:both;}
.wrap{width:1000px;}
.long_uc{width:680px;padding-right:29px;border-right:2px solid #dcdcdc;}
#c_header .head_top{width:100%;margin:0 auto;line-height: 40px;background:#555;color:#a1acb4}
#c_header .head_top a{color:#alacb4;}
#c_header .head_top .head_left{float:left;}
#c_header .head_top .head_right{float:right;}
#c_header .head_top .head_right a{color:#a1acb4;margin:0px 10px;}
#c_header .logo{float:left;}
#c_header .logo img{width:219px;}
#c_header .head_bottom{background: #ededed;padding:20px 10px;}
#c_header .nav li{float:left;margin:0px;padding:0px;font-size:18px;color:#0a58aa;font-family:"Microsoft Yahei";width:117px;padding-top:20px;text-align:center;}
#c_header .nav li.downnav{background:url(../images/sa.png) 102px 25px no-repeat;position:relative;border:1px solid #ededed;}
#c_header .nav li.downnav_hover{background-color:#ffffff;border:1px solid #dcdcdc;}
#c_header .nav li.downnav dl{display:none;position:absolute;line-height:30px;padding-top:10px;background:#ffffff;width:117px;text-align:center;border:1px solid #dcdcdc;border-top:none;left:-1px;}
#c_header .nav li.downnav dl dd{line-height:30px;font-size:14px;}
#c_header .nav li a{color: #333;font-family:"Microsoft Yahei";}
#c_header .nav li.downnav dl dd a{line-height:30px;display:block;}
#c_header .nav li.downnav dl dd a:hover{ background:#f6f6f6; color:#333;text-decoration:none;}

.info{width:260px;overflow:hidden;margin-left:-2px;padding-left:29px;border-left:2px solid #dcdcdc;}
.info h2{font-size:18px;font-family:"Microsoft Yahei";margin-bottom:20px;}
.info table{width:260px;border:1px solid #eeeeee;margin-bottom:30px;}
.info table th{height:30px;background:#eeeeee;line-height:30px;text-align:left;text-indent:20px;font-family:"Microsoft Yahei";}
.info table td{height:30px;text-align:center;border-bottom:1px solid #eeeeee;}
#info_grade img{margin:20px 0px;}

.menu{float:right;margin-top:10px;}
.menu .search{float:left;margin-right:20px;}
.menu .search input.keyword{float:left;width:68px;height:30px;background:url(../images/menu_search.jpg);border:none;}
.menu .search input.submit{float:left;width:17px;height:30px;background:url(../images/menu_submit.jpg);border:none;}
.menu_con{float:left;}
.menu_con a{margin:0px;padding:0px;float:left;margin:0px 5px;color:#333333;}
.menu_con a img{width:25px;height:25px;}